{% extends 'base.html' %}

{% block content %}
    <h1>About Page</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque similique est id consequatur ab explicabo neque quasi, dolorum quaerat laborum, magni iusto iste, tempora in labore illum accusantium omnis autem?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, similique sed. Ex dolore delectus quis error exercitationem. Quasi perferendis harum est alias dolorum voluptatibus cumque cum deserunt sint error? Molestiae.
        
    </p>
{% endblock %}