{% extends 'base.html' %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.imageURL }}" >
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user_posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-sm btn-secondary mt-1 mb-1" href="{% url 'update_post' object.id %}">Update</a>
                        <a class="btn btn-sm btn-danger mt-1 mb-1" href="{% url 'delete_post' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title" >{{ object.title }}</h2>
            <p class="article-content">
                {{ object.content }}
            </p>
        </div>
    </article>
{% endblock %}